[submodule ".registry"]
	path = .registry
	url = https://github.com/jimbrig/universe
	shallow = true
	branch = HEAD
[submodule "jimstools"]
	path = jimstools
	url = https://github.com/jimbrig/jimstools
	shallow = true
	registered = true
[submodule "browsr"]
	path = browsr
	url = https://github.com/jimbrig/browsr
	shallow = true
	registered = true
[submodule "propalloc"]
	path = propalloc
	url = https://github.com/jimbrig/propalloc
	shallow = true
	registered = true
[submodule "shiny.fluent"]
	path = shiny.fluent
	url = https://github.com/jimbrig/shiny.fluent
	shallow = true
	registered = true
[submodule "restbatch"]
	path = restbatch
	url = https://github.com/jimbrig/restbatch
	shallow = true
	registered = true
[submodule "buildtools"]
	path = buildtools
	url = https://github.com/jimbrig/buildtools
	shallow = true
	registered = true
[submodule "EDA"]
	path = EDA
	url = https://github.com/jimbrig/EDA
	shallow = true
	registered = true
[submodule "jimstemplates"]
	path = jimstemplates
	url = https://github.com/jimbrig/jimstemplates
	shallow = true
	registered = true
[submodule "containerit"]
	path = containerit
	url = https://github.com/jimbrig/containerit
	shallow = true
	registered = true
[submodule "dedup"]
	path = dedup
	url = https://github.com/jimbrig/dedup
	shallow = true
	registered = true
[submodule "chameleon"]
	path = chameleon
	url = https://github.com/ThinkR-open/chameleon
	shallow = true
	registered = false
[submodule "sysreqs"]
	path = sysreqs
	url = https://github.com/r-hub/sysreqs
	shallow = true
	registered = false
